body {
  overflow: hidden;
}

.title{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#editor { 
  margin: 5px;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
}

nav a {
  color: grey;
}

#success {
  text-align: center;
  margin-top: -10px;
}

.nav-tabs {
  margin-bottom: 10px;
}
